nav {
    background-color: cornflowerblue;
}

nav li a {
    color: darkblue;
}

#container {
    background-color: paleturquoise;
    height: 630px;
    margin-left: 10px;
}

footer {
    background-color: cornflowerblue;
    text-align: center;
    padding-top: 15px;
    height: 50px;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: blue; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#topBtn:hover {
    background-color: lightblue; /* Add a dark-grey background on hover */
}